body {
    background-color: #f1fff6;
}

.header_logo {
    margin: 10px 0 0 20px;
    max-width: 70px;
    max-height: 70px;
}

.header_title {
    text-align: right;
    margin-right: 40px;
}

hr {
    height: 2px;
    background-color: #32382c;
    color: #32382c;
    margin: 15px;
}

.a_pic {
    margin: 15px 10px 10px 5px;
    width: 100%;
    max-height: 350px;
    overflow: hidden;
}

.proj_pics {
    width: 100%;
    max-width: 480px;
    margin-bottom: 10px;
    max-height: 700px;
}

.project_pic {
    max-height: 250px;
    max-width: 450px;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio_pic {
    max-height: 800px;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.pict_col {
    max-height: 800px;
    overflow: hidden;
}

.sect_title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.col1_align {
    padding-left: 10px;
}

.col2_align {
    padding-left: 60px;
}

h1 {
    font: 2em cursive helvetica, arial, sans-serif;
    color: #235d23;
    word-wrap: break-word;
    margin: 5px, auto, 10px;
}

h2 {
    font:  1.5em helvetica, arial, sans-serif;
    color: #235d23;
    left-margin: 5px;
    right-margin: 10px;
}

h3 {
    font: 24px, helvetica, arial, sans-serif;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    left-margin: 30px;
    right-margin: 30px;
    padding-top: 30px;
    border-top: 1px solid #CCC;
    clear: both;
}

h4 {
    font: 1.25em, helvetica, arial, sans-serif;
    font-weight: 700;
    text-align: left;
    margin-top: 20px;
    word-wrap: break-word;
}

h5 {
    font: 1em;
    text-align: left;
    word-wrap: break-word;
    font-weight: 500;
}
